.popup__tooltip-image-sucсess {
  margin: 0 auto;
  margin-top: 26px;
  width: 120px;
  height: 120px;
  background-image: url(../../../images/success.svg);
  background-size: cover;
}
@media screen and (max-width: 470px) {
  .popup__tooltip-image-sucсess {
    margin-top: 16px;
  }
}