.sign__save-button {
  border-style: none;
  padding: 0;
  width: 100%;
  height: 50px;
  margin-top: 186px;
  box-sizing: border-box;
  border-radius: 2px;
  background-color: #FFFFFF;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000
}
.sign__save-button:hover {
  opacity: 0.85;
  cursor: pointer;
}
@media screen and (max-width: 470px) {
  .sign__save-button {
    margin-top: 160px;
    font-size: 16px;
    line-height: 19px;
  }
}